<section class="main-container">
    <div class="banner">
        <h1>Gameficação</h1>
        <p>Crie ou aproveite cupons especiais para atrair mais clientes. <br>
            Incentive novas conexões com ofertas que valorizam seu trampo.</p>
    </div>

    <div class="cupons-titulo">
        <p><a [routerLink]="getRotaInicial()">Inicio</a> > <span>Gamefficação</span></p>

    </div>
    
    <div class="meus-cupons-container">

    </div>

    <div class="cupons-disponiveis-container">
    
    </div>

</section>