<div class="container">

    <!-- PAGINA PARA ESCOLHER O TIPO DE USUARIO -->
    <section  *ngIf="step === 0" class="option-user-page">
        <section class="image-section">
            <div class="text-image">
                <h1>
                Cada <strong>conexão</strong> começa com uma <strong>escolha.</strong>
                    Qual é o seu papel hoje?
                </h1>
            </div>
        </section>

        <section class="select-user-option">
            <h1>Como você quer usar o trampoUP?</h1>

            <div class="dual-options">

               <button class="card-option"  
               [class.selected]="selectedRole === roleUsuario.CLIENTE"  
               (click)="selectRole(roleUsuario.CLIENTE)">

                    <div class="card-icons">
                        <img src="/assets/icones/cliente-cadastro-icon.svg" alt="cliente-icon">
                    </div>
                    <p>Sou Cliente, quero contratar um serviço</p>

                </button> 

                <button class="card-option" 
                [class.selected]="selectedRole === roleUsuario.PROFISSIONAL"  
                (click)="selectRole(roleUsuario.PROFISSIONAL)">

                    <div class="card-icons">
                        <img src="/assets/icones/profissional-cadastro-icon.svg" alt="profissional-icon">
                    </div>

                    <p>Sou Profissional, quero oferecer meus serviços</p>
                </button>
            
            </div>

            <button (click)="next()" class="next-btn">Próximo</button>
            
            <div class="separator"><span></span><small>ou</small><span></span></div>

            <p class="sign-in">
                Já possui uma conta? Faça
                <a routerLink="/login">Login</a>
                agora!
            </p>

        </section>

    </section>


    <!-- PAGINA CADASTRO PROFISSIONAL -->
    <section class="cadastro-page" *ngIf="step===1 && this.selectedRole === roleUsuario.PROFISSIONAL">
        
        <section class="image-section-cadastro">
            <div class="text-image-cadastro">
                <h1>
                    <strong>Mostre quem você é.</strong>
                </h1>
                <p>Conquiste respeito e vire referência.</p>
            </div>
        </section>

        <section class="section-cadastro">
            <div class="cadastro-title">
                <h1>Formulário de cadastro do Profissional</h1>
            </div>
            
            <form [formGroup]="profissionalForm" class="forms-cadastro" (ngSubmit)="onSubmitProfissional()">

                <div class="form-group">
                    <label class="form-label required"  for="nome">Razão Social</label>
                    <input id="nome" type="text" formControlName="nome" placeholder="Digite sua razão social">
                </div>

                <div class="form-group">
                    <label class="form-label required"  for="email">Email</label>
                    <input id="email" type="email" formControlName="email" placeholder="Digite e-mail">
                </div>

                <div class="form-group">
                    <label class="form-label required" for="cpf">CPF</label>
                    <input id="cpf" type="text" formControlName="cpf" placeholder="000.000.000-00">
                </div>   

                <div class="form-group">
                    <label class="form-label required" for="telefone">Telefone</label>
                    <input id="telefone" type="text" formControlName="telefone" placeholder="(00) 00000-0000">
                </div>   


                <div class="form-group">
                    <label class="form-label" for="cnpj">CNPJ</label>
                    <input id="cnpj" type="text" formControlName="cnpj" placeholder="00.000.000/0000-0">
                </div>   

                <div class="form-group">
                    <label class="form-label" for="setor">Setor</label>
                    <select class="form-select" formControlName="setor" name="setor" id="setor">
                        <option value="" disabled hidden selected>Selecione seu setor</option>
                        <option *ngFor="let cat of categoriasKeys" [value]="cat">
                        {{ cat | keyToLabel }}
                        </option>
                    </select>
                </div>                   

                <div class="form-group">
                    <label class="form-label required" for="estado">Estado</label>
                    <select class="form-select" formControlName="estado" (change)="onEstadoChange($event)" name="estado" id="estado">
                        <option value="" disabled hidden selected>Selecione seu estado</option>
                            <option *ngFor="let estado of listaEstados" [value]="estado.sigla">
                                {{ estado.nome }}
                            </option>
                    </select>
                </div>                        

                <div class="form-group">
                    <label class="form-label required" for="cidade">Cidade</label>
                    <select class="form-select" formControlName="cidade" name="cidade" id="cidade">
                        <option value="" disabled hidden selected>Selecione sua cidade</option>
                        <option *ngFor="let cidade of listaCidades" [value]="cidade.nome">
                            {{ cidade.nome }}
                        </option>
                    </select>
                </div>   

                <div class="form-group">
                    <label class="form-label" for="endereco">Endereço</label>
                    <input id="endereco" type="text" formControlName="endereco" placeholder="Digite seu endereço.">
                </div>
                
                <div class="form-group">
                    <label class="form-label required" for="senha">Senha</label>
                    <input id="senha" type="password" formControlName="senha" placeholder="Digite sua senha.">
                </div>

                <div class="form-group">
                    <label class="form-label required" for="confirmar-senha">Confirmar senha</label>
                    <input id="confirmar-senha" type="password" formControlName="confirmarSenha" placeholder="Confirme sua senha.">
                </div>    

                <div class="form-group terms-container">
                    <input type="checkbox" id="terms">
                    <p for="terms">
                        Eu li e concordo com os
                        <a target="_blank">termos de uso</a>
                        e
                        <a target="_blank">política de privacidade</a>
                    </p>
                </div>

                <button type="submit" id="cadastrar-btn" class="next-btn">
                    Cadastrar
                </button>

                <div class="separator"><span></span><small>ou</small><span></span></div>

                <p class="sign-in">
                    Já possui uma conta? Faça
                    <a routerLink="/login">Login</a>
                    agora!
                </p>
            </form>


        </section>
    </section>

    <!-- Página de Cadastro De Cliente -->
    <section class="cadastro-page" *ngIf="step===1 && this.selectedRole === roleUsuario.CLIENTE">

        <section class="image-section-cadastro">
            <div class="text-image-cadastro">
                <h1>
                    <strong>Procurou, achou e resolveu.</strong>
                </h1>
                <p>O poder de contratar está com você.</p>
            </div>
        </section>

        <section class="section-cadastro">
            <div class="cadastro-title">
                <h1>Formulário de cadastro do Cliente</h1>
            </div>
            
            <form class="forms-cadastro" [formGroup]="clienteForm" (ngSubmit)="onSubmitCliente()">

                <div class="form-group">
                    <label class="form-label required"  for="nome">Nome</label>
                    <input id="nome" type="text" formControlName="nome" placeholder="Digite seu nome">
                </div>

                <div class="form-group">
                    <label class="form-label required" for="sobrenome">Sobrenome</label>
                    <input id="sobrenome" type="text" formControlName="sobrenome" placeholder="Digite seu sobrenome">
                </div>

                <div class="form-group">
                    <label class="form-label required" for="email">Email</label>
                    <input id="email" type="email" formControlName="email" placeholder="Digite e-mail">
                </div>

                <div class="form-group">
                    <label class="form-label required" for="cpf">CPF</label>
                    <input id="cpf" type="text" formControlName="cpf" placeholder="000.000.000-00">
                </div>

                <div class="form-group">
                    <label class="form-label required" for="telefone">Telefone</label>
                    <input id="telefone" type="text" formControlName="telefone" placeholder="(00) 00000-0000">
                </div>  

                <div class="form-group">
                    <label class="form-label" for="estado">Estado</label>
                    <select class="form-select" formControlName="estado" (change)="onEstadoChange($event)" name="estado" id="estado">
                        <option value="" disabled hidden selected>Selecione seu estado</option>
                            <option *ngFor="let estado of listaEstados" [value]="estado.sigla">
                                {{ estado.nome }}
                            </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label" for="cidade">Cidade</label>
                    <select class="form-select" formControlName="cidade" name="cidade" id="cidade">
                        <option value="" disabled hidden selected>Selecione sua cidade</option>
                        <option *ngFor="let cidade of listaCidades" [value]="cidade.nome">
                            {{ cidade.nome }}
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-label" for="endereco">Endereço</label>
                    <input id="endereco" type="text" formControlName="endereco" placeholder="Digite seu endereço.">
                </div>

                <div class="form-group">
                    <label class="form-label required" for="senha">Senha</label>
                    <input id="senha" type="password" formControlName="senha" placeholder="Digite sua senha.">
                </div>

                <div class="form-group">
                    <label class="form-label required" for="confirmar-senha">Confirmar senha</label>
                    <input id="confirmar-senha" type="password" formControlName="confirmarSenha" placeholder="Confirme sua senha.">
                </div>

                <div class="form-group terms-container">
                    <input type="checkbox" id="terms">
                    <p for="terms">
                        Eu li e concordo com os
                        <a target="_blank">termos de uso</a>
                        e
                        <a target="_blank">política de privacidade</a>
                    </p>
                </div>

                <button type="submit" id="cadastrar-btn" class="next-btn">
                    Cadastrar
                </button>

                <div class="separator"><span></span><small>ou</small><span></span></div>

                <p class="sign-in">
                    Já possui uma conta? Faça
                    <a routerLink="/login">Login</a>
                    agora!
                </p>                


            </form>

        </section>
    </section>


    <!-- CATEGORIAS -->
     <section  class="categorias-page" *ngIf="step===2 && this.selectedRole === roleUsuario.CLIENTE">
        
        <section class="main-container">

            <div class="title">
                <h1>
                    👋 Olá, {{this.clienteForm.get("nome")?.value}}, Bem-vindo ao TrampoUP!
                </h1>
                <p>
                    Selecione suas áreas de interesse para que a gente possa te mostrar profissionais
                    e oportunidades que realmente combinam com você.
                </p>
            </div>

            <div class="categories-section">

                <button class="card-option card-categoria" [class.selected]="isCategorySelected('SERVICOS_TECNICOS')"(click)="toggleCategory('SERVICOS_TECNICOS')">
                    <div class="left">
                        <img src="/assets/icones/servicos-tec-icon.svg" alt="servicos-tec-icon">
                        <p>Serviços Técnicos</p>
                    </div>
                    <div class="right"></div>
                </button>


                <button class="card-option card-categoria" [class.selected]="isCategorySelected('SERVICOS_DOMESTICOS')"(click)="toggleCategory('SERVICOS_DOMESTICOS')">
                    <div class="left">
                        <img src="/assets/icones/servicos-domec-icon.svg" alt="servicos-domesticos-icon">
                        <p>Serviços Domésticos</p>
                    </div>
                    <div class="right"></div>
                </button>


                <button class="card-option card-categoria" [class.selected]="isCategorySelected('SERVICOS_MANUTENCAO')"(click)="toggleCategory('SERVICOS_MANUTENCAO')">
                    <div class="left">
                        <img src="/assets/icones/servicos-manuntencao-icon.svg" alt="servicos-manuntencao-icon">
                        <p>Serviços de Manutenção</p>
                    </div>
                    <div class="right"></div>
                </button>


                <button class="card-option card-categoria" [class.selected]="isCategorySelected('BELEZA_E_ESTETICA')"(click)="toggleCategory('BELEZA_E_ESTETICA')">
                    <div class="left">
                        <img src="/assets/icones/beleza-estetica-icon.svg" alt="beleza e estética icon">
                        <p>Beleza e Estética</p>
                    </div>
                    <div class="right"></div>
                </button>

                <button class="card-option card-categoria" [class.selected]="isCategorySelected('SERVICOS_DE_TRANSPORTE')"(click)="toggleCategory('SERVICOS_DE_TRANSPORTE')">
                    <div class="left">
                        <img src="/assets/icones/servicos-transporte-icon.svg" alt="servicos-transporte-icon">
                        <p>Serviços de Transporte</p>
                    </div>
                    <div class="right"></div>
                </button>

                <button class="card-option card-categoria" [class.selected]="isCategorySelected('EDUCACAO_AULAS_PARTICULARES')"(click)="toggleCategory('EDUCACAO_AULAS_PARTICULARES')">
                    <div id="educacao-left" class="left">
                        <img id="educacao-icon" src="/assets/icones/educacao-icon.svg" alt="educacao-icon">
                        <p>Educação</p>
                    </div>
                    <div class="right"></div>
                </button>

                <button class="card-option card-categoria" [class.selected]="isCategorySelected('EVENTOS')"(click)="toggleCategory('EVENTOS')">
                    <div id="eventos-left" class="left">
                        <img id="eventos-icon" src="/assets/icones/eventos-icon.svg" alt="eventos-icon">
                        <p>Eventos</p>
                    </div>
                    <div class="right"></div>
                </button>

                <button class="card-option card-categoria" [class.selected]="isCategorySelected('ADMINISTRATIVOS_E_ONLINE')"(click)="toggleCategory('ADMINISTRATIVOS_E_ONLINE')">
                    <div class="left">
                        <img src="/assets/icones/servicos-admin-icon.svg" alt="servicos-admin-icon">
                        <p>Serviços Administrativos</p>
                    </div>
                    <div class="right"></div>
                </button>


            </div>

            <div class="final-section">
                <p><strong>Você selecionou:</strong> <span> {{ selectedCategories.length }} </span> de <span>{{categoriasKeys.length}}</span> interesses.</p>
                <button routerLink="/usuario/inicio-cliente" class="next-btn">Avançar</button>
            </div>

        </section>

     </section>

</div>
