<div class="main-container">
    <div class="banner" *ngIf="temMiniSite; else semMiniSite;">
        <div class="banner-left">
            <h1>Seu site está ativo e visível para clientes próximos a {{ cidadeBanner }}!</h1>
            <p>Veja como você aparece para os clientes.</p>

            <button class="visualizar-site" type="button">
            Visualizar meu site
            </button>
        </div>

        <div class="banner-right" aria-hidden="true">
            <!-- Badge 1 -->
            <div class="banner-badge badge-servicos">
                <img class="badge-icon" src="/assets/icones/servicos-realizados-icon.svg" alt="">
                <span class="badge-text">{{ servicosRealizados }} serviços realizados</span>
            </div>

            <!-- Badge 2 -->
            <div class="banner-badge badge-experiencia">
                 <img class="badge-icon" src="/assets/icones/experiencia-icon.svg" alt="">
                <span class="badg-icone-text">{{ anosExperiencia }} anos de experiência</span>
            </div>

            <img
                src="/assets/imagens/profissional.png"
                alt=""
                class="banner-profissional"
            />
        </div>

    </div>

    <ng-template #semMiniSite>
    <div class="banner">
        <div class="banner-left sem-mini-site">
            <h1>Olá, {{nomeProfissional}}!</h1>
            <p>Crie seu perfil para ficar visível na sua região.</p>

            <button (click)="redirectToCadastroSite()" class="visualizar-site" type="button">
            Completar meu perfil
            </button>
        </div>

        <div class="banner-right" aria-hidden="true">
            <img
                src="/assets/imagens/profissional.png"
                alt=""
                class="banner-profissional"
            />
        </div>

    </div>

    </ng-template>



    <section class="servicos-container">
        <div class="servicos-topico">
            <h1>Destaques da sua região</h1>
        </div>

       <div class="servicos-lista" *ngIf="profissionaisInteressePaginados.length > 0">
            <div *ngFor="let profissional of profissionaisInteressePaginados">
                <div class="card-profissional" >
                    <div class="user-photo">
                        <img
                        [src]="fotoPerfilMap[profissional.id!] || placeholderFoto"
                        alt="foto do usuario"
                        />                    </div>
                    <div class="user-info">
                        <h2>{{ profissional.nome }}</h2>
                        <p class="cargo">{{ categoriasDescricoes[profissional.setor!] }}</p>
                        <div class="rating">
                            <span class="score"> <span class="star">★</span> {{ (4.0) | number:'1.1-1' }}/5</span>
                        </div>
                        <div class="btn-card">
                            <button class="btn-ver-perfil" (click)="visualizarProfissional(profissional.id!)">Acessar Perfil</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="profissionaisInteressePaginados.length === 0">
            <ng-container *ngIf="mensagemBusca; else semlocalizacaos">
            <div>
                <div class="alert alert-warning text-center">
                {{ mensagemBusca }}
                </div>
            </div>
            </ng-container>
            <ng-template #semlocalizacaos>
            <div class="no-data-message">
                <img src="assets/icones/no-data-icon.svg" alt="Sem dados" />
                <p>Não há profissionais cadastrados.</p>
            </div>
            </ng-template>
        </div>
    
        <div class="pagination">
            <app-pagination [paginaAtual]="paginaAtualInteresse"
            [totalItens]="totalItensInteresse" 
            [itensPorPagina]="itensPorPaginaInteresse"
            (paginaMudou)="onPaginaMudouInteresse($event)">
            </app-pagination>
        </div>

    </section>


    <section class="servicos-container">
        <div class="servicos-topico">
            <h1>Sugestão do dia</h1>
        </div>

        <div class="banner banner-sugestao">
            <div class="banner-sugestao-left">
                <h2>Compartilhe seu site e conquiste mais clientes</h2>
                <p>Crie seu perfil para ficar visível na sua região</p>

                <button (click)="redirectToSitePublico()" class="btn-compartilhar" type="button">
                    Compartilhar meu site
                </button>
            </div>

            <div class="banner-sugestao-right" aria-hidden="true">
                <div class="rocket-anim">
                    <ng-lottie  [options]="rocketLunchAnimOptions"></ng-lottie>
                </div>
            </div>
        </div>
    </section>

</div>