<div class="main-container">
    <div class="banner">
        <h1>Início</h1>
        <p>Explore centenas de profissionais prontos para te ajudar.</p>
    </div>

    <section class="anuncios-container">
        <div class="anuncios-topico">
            <h1>Anúncios</h1>
        </div>


        <div class="anuncios-lista">
            <div class="anuncio-card" *ngFor="let anuncio of anuncios">
                <img [src]="anuncio.imagem" [alt]="anuncio.titulo" />
            </div>
        </div>



    </section>

    <section class="destaques-container">
        <div class="destaques-topico">
            <h1>Destaques</h1>
        </div>

        <div class="destaques-lista">
            <div class="destaques-card" *ngFor="let destaque of destaques">
                <img [src]="destaque.imagem" [alt]="destaque.titulo" />
            </div>
        </div>

        
        <div class="paginacao">
            <button disabled class="button-paginacao">
                <img src="assets/icones/seta-left-icon.svg" alt="Página anterior">
            </button>

            <button class="indices">1</button>
            <button class="indices" id="botao2">2</button>


            <button class="button-paginacao">
                <img src="assets/icones/seta-right-icon.svg" alt="Próxima página">
            </button>
        </div>

    </section>

    <section class="servicos-container">
        <div class="servicos-topico">
            <h1>Serviços</h1>
        </div>

        <div class="servicos-lista">
            <div class="servicos-card" *ngFor="let servico of destaques">
                <img [src]="servico.imagem" [alt]="servico.titulo" />
            </div>
        </div>

        <div class="paginacao">
            <button disabled class="button-paginacao">
                <img src="assets/icones/seta-left-icon.svg" alt="Página anterior">
            </button>

            <button class="indices">1</button>
            <button class="indices" id="botao2">2</button>


            <button class="button-paginacao">
                <img src="assets/icones/seta-right-icon.svg" alt="Próxima página">
            </button>
        </div>

    </section>



    <footer>
    </footer>
</div>