<div class="main-container">

    <section class="titulo">
        <div class="welcome">
            <div class="bom-dia">
                <h1> Bom dia, {{ usuario?.nome }} 👋</h1>
                <p>{{ tipoUsuarioDescricao[usuario?.tipoUsuario!]}}</p>
            </div>

            <div class="clima">

                <div class="clima-left">
                    <div class="clima-info">
                        <img id="icone-do-clima" [src]="iconUrl" alt="clima">
                        <span id="tipo-do-clima ">{{ weatherDescription | titlecase }}</span>
                    </div>
                    <h3 id="temperatura">{{ temperature |number:'1.0-0' }}°<span>C</span></h3>
                </div>

                <div class="clima-right">
                    <h3 id="hora">{{ currentTime }}</h3>
                    <h3 id="data">{{ currentDate }}</h3>
                    <h3 id="localidade">{{ weatherData.name }}</h3>
                </div>
            </div>
        </div>

        <div class="cards">
            <h1>Negócios à Vista!</h1>
            <p>Todo dia é uma nova chance de fechar bons negócios!</p>
            <button id="btn-meus-servicos">Meus serviços</button>
        </div>

    </section>


    <section class="cards-dados-servicos-profissionais">

        <div id="card-total-de-servicos">
            <span>{{quantidadeTotalServicos}}</span>
            <h2><img src="/assets/icones/total-servicos-icon.svg">Total de serviços</h2>
        </div>

        <div id="card-quantidade-profissionas-ativos">
            <span>{{quantidadeProfissionaisAtivos}}</span>
            <h2><img src="/assets/icones/profissionais-ativos-icon.svg">Profissionais ativos</h2>
        </div>

        <div id="card-quantidade-servicos">
            <span>{{quantidadeServicos}}</span>
            <h2><img src="/assets/icones/quantidade-servicos-icon.svg">Serviços</h2>
        </div>
    </section>

    <section class="grafico" id="chart-crescimento-mensal">
    </section>

    <section class="usuarios-e-grafico">
        <section class="novos-usuarios">
            <h2>Novos Usuários</h2>
            <div class="tabela-container">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Usuário</th>
                            <th>Cargo</th>
                            <th>Ingressou</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tbody>
                        <tr *ngFor="let u of novosUsuarios">
                            <img class="avatar-pequeno" [src]="u.photo" [alt]="u.nome" />
                            <td>{{ u.nome }}</td>
                            <td>{{ u.cargo }}</td>
                            <td>{{ u.ingressou | date:'dd/MM/yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <a class="ver-mais">
                Ver mais
                <img src="assets/icones/seta-direita-icon.svg" alt="Seta para a direita" class="ver-mais__icon" />
            </a>
        </section>
    
        <section class="grafico" id="chart-grafico">
        </section>
    </section>

</div>