<div class="main-container">
    <div class="banner">
        <h1>Início</h1>
        <p>Explore centenas de profissionais prontos para te ajudar.</p>
    </div>

    <section class="anuncios-container">
        <div class="anuncios-topico">
            <h1>Anúncios</h1>
        </div>

        <div class="em-breve">
            <div class="logo">
                <img src="assets/icones/logo-trampoup.png" alt="TrampoUP" />
            </div>
            <h2>Funcionalidade em breve!</h2>
        </div>
        <!-- <div class="anuncios-lista">
             <div class="anuncio-card" *ngFor="let anuncio of anuncios">
                <img [src]="anuncio.imagem" [alt]="anuncio.titulo" />
            </div> 
        </div> -->



    </section>

    <section class="destaques-container">
        <div class="destaques-topico">
            <h1>Destaques</h1>
        </div>
        <div class="em-breve">
            <div class="logo">
                <img src="assets/icones/logo-trampoup.png" alt="TrampoUP" />
            </div>
            <h2>Funcionalidade em breve!</h2>
        </div>
        <!-- <div class="destaques-lista">
            <div
                class="destaques-card"
                *ngFor="let d of destaquesPaginados; let i = index; trackBy: trackByIndex"
                (click)="toggleDestaque(i)"
                [class.expanded]="expandedDestaqueIndex === i"
                tabindex="0"
                role="button"
                [attr.aria-expanded]="expandedDestaqueIndex === i ? 'true' : 'false'"
            >
                <ng-container *ngIf="expandedDestaqueIndex === i; else collapsedCard">
                    <div class="card-expandido" (click)="$event.stopPropagation()">
                        <div class="banner-user">
                            <img src="/assets/imagens/banner-trampo-generico.png" [alt]="d.titulo" />
                        </div>
                        <div class="avatar-user">
                            <img src="/assets/imagens/foto-perfil-generico.png" [alt]="d.titulo" />
                        </div>

                        <div class="name-user">
                            <h2>{{ "Usuário" }}</h2>
                            <div class="rating">
                                <span class="score"> <span class="star">★</span> {{ (d.nota ?? 4.0) | number:'1.1-1' }}/5</span>
                            </div>
                        </div>
                        <p class="profissao-user">Profissão</p>
                        <div class="bio-user">
                            <p style="margin: 0"><strong>Profissional bio</strong></p>
                            <p id="descricao" style="color: #585858;">Este usuário ainda não cadastrou a bio.</p>
                        </div>
                        <div class="btn-card">
                            <button class="btn-ver-perfil" (click)="verPerfil(d, $event)">Acessar Perfil</button>
                            <button class="btn-salvar"><img src="/assets/icones/save-icon.svg" alt="save icon"></button>
                            <button class="btn-share"><img src="/assets/icones/share-icon.svg" alt="save icon"></button>
                         </div>
                    </div>
                </ng-container>

                <ng-template #collapsedCard>
                    <div class="card-colapsado">
                        <img [src]="d.imagem" [alt]="d.titulo" />
                    </div>
                </ng-template>
            </div>
        </div>

        
        <div class="paginacao">
            <app-pagination
                [paginaAtual]="paginaAtual"
                [totalItens]="totalItens"
                [itensPorPagina]="itensPorPagina"
                (paginaMudou)="onPaginaMudou($event)">
            </app-pagination>
        </div> -->

    </section>

    <section class="servicos-container">
        <div class="servicos-topico">
            <h1>Serviços do seu interesse</h1>
        </div>

       <div class="lista-servicos" *ngIf="profissionaisInteressePaginados.length > 0">
            <div *ngFor="let profissional of profissionaisInteressePaginados">
                <div class="card-profissional" (click)="visualizarProfissional(profissional.id!)">
                    <div class="user-photo">
                        <img
                        [src]="fotoPerfilMap[profissional.id!] || placeholderFoto"
                        alt="foto do usuario"
                        />                    </div>
                    <div class="user-info">
                        <h2>{{ profissional.nome }}</h2>
                        <p class="cargo">{{ categoriasDescricoes[profissional.setor!] }}</p>
                        <div class="rating">
                            <span class="score"> <span class="star">★</span> {{ (4.0) | number:'1.1-1' }}/5</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="profissionaisInteressePaginados.length === 0">
            <ng-container *ngIf="mensagemBusca; else semlocalizacaos">
            <div>
                <div class="alert alert-warning text-center">
                {{ mensagemBusca }}
                </div>
            </div>
            </ng-container>
            <ng-template #semlocalizacaos>
            <div class="no-data-message">
                <img src="assets/icones/no-data-icon.svg" alt="Sem dados" />
                <p>Não há profissionais cadastrados.</p>
            </div>
            </ng-template>
        </div>
    
        <div class="pagination">
            <app-pagination [paginaAtual]="paginaAtualInteresse"
            [totalItens]="totalItensInteresse" 
            [itensPorPagina]="itensPorPaginaInteresse"
            (paginaMudou)="onPaginaMudouInteresse($event)">
            </app-pagination>
        </div>

    </section>



    <footer>
    </footer>
</div>