<section class="main-container">
    <div class="banner">
        <h1>Cupons</h1>
        <p>Crie ou aproveite cupons especiais para atrair mais clientes. <br>
            Incentive novas conexões com ofertas que valorizam seu trampo.</p>
    </div>

    <div class="cupons-titulo">
        <p><a [routerLink]="getRotaInicial()">Inicio</a> > <span>Cupons</span></p>

        <button class="btn-cadastrar-cupom" [routerLink]="['/usuario/cadastro-de-cupom']" *ngIf="this.isNotClient()">
            Cadastrar cupom 
            <img src="assets/icones/plus-icon.svg" alt="plus-icon">
        </button>

    </div>
    
    <div class="meus-cupons-container">
        <div class="title">
            <h1>{{this.isNotClient() ? "Meus cupons cadastrados" : "Meus Cupons"}}</h1>
        </div>
        <div class="lista-cupons" *ngIf="meusCupons.length > 0; else semDisponiveis">
            <div *ngFor="let cupom of meusCupons">
                <div class="card-cupom">
                    <div class="title-card">
                        <img src="/assets/icones/cupom-icon.svg" alt="icone cupom">
                        <h2>R${{cupom.valor}} - {{cupom.titulo}}</h2>
                    </div>

                    <p class="descricao">{{cupom.descricao}}</p>

                    <button *ngIf="!isNotClient()" class="btn-resgatar">
                        Resgatar
                    </button>

                    <div class="grid">
                        <a (click)="openModalRegras(cupom)">Ver regras</a>
                        <div class="datas">
                            <!-- <p>Início: {{cupom.dataDeInicio | date}}</p> -->
                            <p>Valido até {{cupom.dataDeTermino | date:'dd/MM'}}</p>
                        </div>
                    </div>

                    <div class="anuncio">
                        <p>Verifique a utilização do cupom com o provedor do serviço.</p>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #semCupons>
            <div class="lista-vazia">
                <img src="assets/icones/no-data-icon.svg" alt="Sem cupons">
                <p>Nenhum cupom cadastrado.</p>
            </div>
        </ng-template>
    </div>

    <div class="cupons-disponiveis-container">
        <div class="title">
            <h1>Cupons Disponíveis</h1>
        </div>


        <div class="lista-cupons" *ngIf="cuponsDisponiveis.length > 0; else semDisponiveis">
            <div *ngFor="let cupom of cuponsDisponiveis">
                <div class="card-cupom">
                    <div class="title-card">
                        <img src="/assets/icones/cupom-icon.svg" alt="icone cupom">
                        <h2>R${{cupom.valor}} - {{cupom.titulo}}</h2>
                    </div>

                    <p class="descricao">{{cupom.descricao}}</p>

                    <button *ngIf="!isNotClient()" class="btn-resgatar">
                        Resgatar
                    </button>

                    <div class="grid">
                        <a (click)="openModalRegras(cupom)">Ver regras</a>
                        <div class="datas">
                            <!-- <p>Início: {{cupom.dataDeInicio | date}}</p> -->
                            <p>Valido até {{cupom.dataDeTermino | date:'dd/MM'}}</p>
                        </div>
                    </div>

                    <div class="anuncio">
                        <p>Verifique a utilização do cupom com o provedor do serviço.</p>
                    </div>
                </div>
                
                
                
            </div>
        </div>
        
        
        <ng-template #semDisponiveis>
            <div class="lista-vazia">
            <img src="assets/icones/no-data-icon.svg" alt="Sem cupons disponíveis">
            <p>Não há cupons disponíveis no momento.</p>
            </div>
        </ng-template>
    </div>



</section>
        
                        <!-- OVERLAY/MODAL -->
                        <div class="modal-overlay" *ngIf="showModal">
                            <div class="modal-content">
                                <div class="modal-title">
                                    <h2>Regras de uso do cupom</h2>
                                    <button class="modal-close-btn" (click)="fecharModal()" aria-label="Fechar">
                                        &times;
                                    </button>
                                </div>
        
                                <section>
                                <h3>📅 Validade</h3>
                                <ul>
                                    <li>Válido até {{selectedCupom!.dataDeTermino | date:'dd/MM/yyyy'}}.</li>
                                    <li>Não pode ser usado antes de {{selectedCupom!.dataDeInicio | date:'dd/MM/yyyy'}} nem após a data de término.</li>
                                </ul>
                                </section>
        
                                <section>
                                <h3>👤 Elegibilidade</h3>
                                <ul>
                                    <li>Uso único por usuário cadastrado.</li>
                                    <li>Válido apenas para clientes com ao menos 1 compra anterior.</li>
                                </ul>
                                </section>
        
                                <section>
                                <h3>🚫 Restrições</h3>
                                <ul>
                                    <li>Não cumulativo com outras promoções.</li>
                                    <li>Aplicável somente em serviços de {{selectedCupom?.criador?.setor ?? "modos gerais"}}</li>
                                    <li>Agendamento mínimo de 48 h antes da execução.</li>
                                    <li>Região de atendimento: <strong>{{selectedCupom?.criador?.cidade}}/{{selectedCupom?.criador?.estado}}</strong>.</li>
                                </ul>
                                </section>
        
                                <button class="btn-close-modal" (click)="fecharModal()">Fechar</button>
                            </div>
                        </div>
