<div class="main-container">
  <div class="banner">
    <h1>Notificações</h1>
    <p>Um espaço onde você pode acompanhar suas notificações</p>
  </div>

  <div class="breadcrumb-container">
    <div class="breadcrumb">
      <!-- Breadcrumb opcional -->
    </div>

    <div class="actions">
      <div class="search-container">
        <!-- Campo de busca futuro -->
      </div>
    </div>
  </div>

  <div class="table-container">
    <div class="filtro-container">
      <div class="select-container">
        <select
          name="filtro-container"
          [value]="filtroSelecionado"
          id="filtro-container"
          (change)="onFiltroChange($event)"
        >
          <option value="todos">Todas</option>
          <option value="lidas">Lidas</option>
          <option value="nao-lidas">Não lidas</option>
        </select>
      </div>

      <div class="btn-container">
        <button class="btn btn-secondary" (click)="openModalConfirmacao()">
          Marcar todas como lidas
        </button>
      </div>
    </div>

    <div class="progress-bar-container" *ngIf="isLoading">
      <div class="progress-bar"></div>
    </div>

    <div
      class="notificacao-container"
      *ngIf="!isLoading && notificacoesPaginadas.length > 0"
    >
      <div
        class="notificacao-item"
        *ngFor="let notificacao of notificacoesPaginadas"
        (click)="markNotificationAsRead(notificacao)"
        [class.lida]="notificacao.lida"
      >
        <div class="notificacao-conteudo">
          <div class="notificacao-avatar">
            <img [src]="notificacao.fotoUrl" alt="Foto do usuário" />
          </div>

          <div class="notificacao-mensagem">
            <p class="notificacao-title">
              {{ notificacao.nomeUsuario }},
            </p>
            <p class="notificacao-descricao">
              {{ notificacao.descricao }}
            </p>
          </div>
        </div>

        <span class="notificacao-tempo">
          {{ getTempoDecorrido(notificacao) }}
        </span>

        <div class="notificacao-new" *ngIf="!notificacao.lida"></div>
      </div>

    </div>

    <div
      class="empty-state"
      *ngIf="!isLoading && notificacoesPaginadas.length === 0"
    >
      <h3>Nenhuma notificação encontrada</h3>
    </div>

    <div class="paginacao" *ngIf="totalItens > itensPorPagina">
      <app-pagination
        [paginaAtual]="paginaAtual"
        [totalItens]="totalItens"
        [itensPorPagina]="itensPorPagina"
        (paginaMudou)="onPaginaMudou($event)"
      >
      </app-pagination>
    </div>
  </div>
</div>
