<div class="container">
    <section class="login-section">
      <div class="login-box">
        <div class="logo">
          <img src="assets/icones/logo-trampoup.png" alt="TrampoUP" />
          <h1 style="margin-bottom: 10px;">Bem-vindo(a) 👋🏻</h1>
        </div>
  
         <form [formGroup]="loginForm" (ngSubmit)="onFormSubmitHandler($event)">
           <div class="form-group">
             <label for="email">E-mail</label>
             <input type="email" id="email" formControlName="email" placeholder="Digite seu e-mail" />
           </div>
     
           <div class="form-group password-group">

            <label for="senha">Senha</label>
            <input [type]="passwordFieldType" id="senha" formControlName="senha"  placeholder="Digite sua senha" />
            
            <button type="button" (click)="togglePasswordVisibility()" class="eye-button" tabindex="-1">
              <i [class]="passwordFieldType === 'password' ? 'bi bi-eye' : 'bi bi-eye-slash'"></i>
            </button>
           </div>

     
           <div class="forgot">
             <a routerLink="/esqueci-minha-senha">Esqueci minha senha</a>
           </div>
     
           <button class="btn-primary" (click)="login()">Entrar</button>
        </form>
          
        <div class="separator"><span></span><small>ou</small><span></span></div>
  
        <p class="signup">
          Não possui uma conta?
          <a routerLink="/cadastro">Cadastrar-se agora!</a>
        </p>
      </div>
    </section>
  
    <section class="image-section">
      <div class="text-image">
        <h1>
          Bem vindo(a) ao 
          <strong>TrampoUP</strong>
        </h1>
        <h2>A plataforma ideal para contratar e oferecer serviços com segurança.</h2>
      </div>
    </section>
</div>
  