.main-container {
    margin: 120px 32px 24px;
    max-width: 100%;
    background: var(--lm-branco);
    border-radius: 24px;
    padding: 40px 48px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.banner {
    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
    url("/assets/imagens/servicos-background.jpg");
    background-size: cover;
    background-position: center;
    background-position-y:25%;

    padding: 48px 24px;
    color: var(--lm-branco);
    border-radius: 24px;
}

.banner h1 {
    margin: 0;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--lm-branco);
}

.banner p {
    margin: 10px 0 0;
    font-size: 1.3rem;
    width: 40%;
}

.localizacao-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    gap: 16px;
    font-size: 1rem;
}

.localizacao-titulo span {
    color: var(--lm-text02);
    font-weight: bold;
}

.localizacao-titulo a {
    color: black;
}

.btn-cadastrar-endereco {
    display: inline-flex;
    background-color: var(--secondary-button);
    border-radius: 10px;
    align-items: center;
    gap: 0.5rem;
    margin-left: auto;
}

.btn-cadastrar-endereco:hover {
    background-color: var(--secondary-button-hover);
    cursor: pointer;
}

.alerts > div{
    padding: 11px;
    border-radius: 15px;
    font-size: 18px;
}

.alert-filter{
  display: flex;
  margin-top: 8px;
}

/* tabela */
.tabela-container {
    width: 100%;
    overflow-x: auto;
    border: #b5b5b5 solid 1px;
    border-radius: 16px;
    margin-top: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

th,
td {
  text-align: left;
  padding: 12px 16px;
}

th {
  background: var(--lm-primary);
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

td {
  font-size: 16px;
  color: #666;
  padding: 16px;
}

tr:nth-child(even) {
  background: #fafafa;
}

tr:hover {
  background-color: #eaf1e5;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 30px;
  height: 30px;
  background: #ddd;
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.avatar span {
  font-size: 14px;
  color: #202020;
  font-weight: 500;
}

.acoes {
  display: flex;
  gap: 8px;
}

.btn-acao {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e4e4e4b5;
  transition: background 0.2s;
}

.btn-acao img {
  width: 60%; /* escala a imagem dentro do círculo */
  height: 60%;
  object-fit: contain;
  border-radius: 50%;
}

.visualizar:hover {
  background: #3d4b123b;
}

.edit:hover {
  background: #007bff3b;
}

.delete:hover {
  background: #dc35453b;
}

/* Paginação */
.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

/* Breakpoints */
@media (min-width: 1200px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 56px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 40px 48px;
  }

  .breadcrumb-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .actions {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}

@media (max-width: 767px) {
  .main-container {
    margin: 90px 20px 20px;
    padding: 20px;
  }

  .breadcrumb-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .actions {
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }
  .search-container {
    width: 100%;
  }
  .btn-cadastrar {
    width: 100%;
  }
  .breadcrumb {
    width: 100%;
  }
}

.progress-bar-container {
  width: 100%;
  height: 6px;
  background-color: #e0e0e0;
  margin-top: 8px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}

.progress-bar {
  width: 0;
  height: 100%;
  background-color: #007bff;
  animation: progress-animation 2s infinite linear;
}

@keyframes progress-animation {
  0% {
    width: 0;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 0;
  }
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  color: inherit;
  cursor: pointer;
  line-height: 1;
}

.no-data-message img {
  width: 200px;
  height: auto;
  margin: 0;
}

.no-data-message p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  gap: 15px;
}

.filtro-setor {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}

.filtro-setor-select {

  background-color: var(--primary-btnHover);
  border: none;
  border-radius: 10px;
  padding: 10px 5px;
  font-size: 1rem;
  cursor: pointer;

  /* espaço pra futura setinha personalizada, se quiser */
  background-image: none;
  color: #fafafa; /* ajuste se preferir contraste diferente */
}

.filtro-setor-select:hover {
  background-color: #177a93;
}

.filtro-setor-select:focus {
  outline: 2px solid rgba(0,0,0,0.15);
  outline-offset: 2px;
}

