<section class="main-container">
    <h1 class="title">Qual plano vai dar match com o seu trampo?</h1>
    <h3 class="subtitle">7 dias de teste grátis. Cancele quando quiser.</h3>

    <div class="button-flex-planos">
        <h2 class="plano">Mensal</h2>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round"></span>
        </label>
        <h2 class="plano">Anual</h2>
    </div>

    <div class="planos-list">
        <div class="plano-card">
            <div class="plano-header">
                <h2>Plano Starter</h2>
                <h1 class="plano-preco">R$19,90 <small>/mês</small></h1>
            </div>
            <div class="plano-info">
                <ul class="plano-beneficios">
                    <li> <img src="/assets/icones/check 1.svg" alt="check">Perfil com mais informações</li>
                    <li> <img src="/assets/icones/check 1.svg" alt="check">Localização manual</li>
                    <li> <img src="/assets/icones/check 1.svg" alt="check">Botão de WhatsApp</li>
                    <li> <img src="/assets/icones/check 1.svg" alt="check">Acesso a até 15 serviços por mês</li>
                </ul>
            </div>
            <button class="button-plano">Assinar Plano</button>
        </div>
        <div class="plano-card level-up">
            <div class="plano-header level-up">
                <h2>Plano Level Up</h2>
                <h1 class="plano-preco">R$29,90 <small>/mês</small></h1>
            </div>
            <div class="plano-info">
                <ul class="plano-beneficios level-up">
                    <li> <img src="/assets/icones/check 2.svg" alt="check">Destaque moderado nas buscas</li>
                    <li> <img src="/assets/icones/check 2.svg" alt="check">Perfil com vídeo de apresentação</li>
                    <li> <img src="/assets/icones/check 2.svg" alt="check">Localização manual</li>
                    <li> <img src="/assets/icones/check 2.svg" alt="check">Acesso a até 30 serviços por mês</li>
                    <li> <img src="/assets/icones/check 2.svg" alt="check">Preferência em buscas dentro do raio de atendimento</li>
                </ul>
            </div>
            <button class="button-plano level-up">Assinar Plano</button>
        </div>
        <div class="plano-card">
            <div class="plano-header">
                <h2>Plano Pro+</h2>
                <h1 class="plano-preco">R$39,90 <small>/mês</small></h1>
            </div>
            <div class="plano-info">
                <ul class="plano-beneficios">
                    <li> <img src="/assets/icones/check 1.svg" alt="check">Acesso ilimitado a solicitações</li>
                    <li> <img src="/assets/icones/check 1.svg" alt="check">Destaque total nas buscas</li>
                    <li> <img src="/assets/icones/check 1.svg" alt="check">Selo de Verificação</li>
                    <li> <img src="/assets/icones/check 1.svg" alt="check">Acesso a treinamentos exclusivos</li>
                    <li> <img src="/assets/icones/check 1.svg" alt="check">Geolocalização automática</li>
                    <li> <img src="/assets/icones/check 1.svg" alt="check">Destaque por proximidade</li>
                </ul>
            </div>
            <button class="button-plano">Assinar Plano</button>
        </div>
    </div>
</section>