.main-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url("/assets/imagens/banner-planos.png") no-repeat center/cover;
}

.title{
    font-size: 2.5rem;
    color: var(--lm-branco);
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
}

.subtitle{
    font-size: 1.2rem;
    color: var(--lm-branco);
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
}

.button-flex-planos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.plano{
    color: var(--lm-branco);
    font-weight: 600;
    text-align: center;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;

}

.plano h2{
    margin: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #28BFB6;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #28BFB6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #28BFB6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.planos-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.plano-card{
    background-color: var(--lm-branco);
    border-radius: 12px;
    padding: 24px 36px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: 500px;
    width: 320px;
}

.plano-card.level-up{
    background-color: var(--card-background3);
}

.plano-header{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
    color: black;
    margin-top: 0
}

.plano-header.level-up{
    color: var(--lm-branco);
}

.plano-header h2{
    margin: 0;
    font-size: 22px;
    font-weight: 600;
}

.plano-preco{
    font-family: "Inter", sans-serif;
    font-size: 44px;
    font-weight: 800;
    margin: 0;
    justify-content: space-between;
}

.plano-preco small{
    font-size: 16px;
}

.plano-info {
  width: 100%;
  display: flex;
  margin: 0 0 auto 0;
}

.plano-beneficios {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;  /* aqui troca a fonte */
}

.plano-beneficios.level-up li {
    color: var(--lm-branco);
}

.plano-beneficios li {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #111827; /* ajuste se quiser */
    margin-bottom: 20px;
    font-weight: 600;
}

.button-plano{
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px 25px;
    background-color: #F5A002;
    font-weight: 600;
    margin-top: auto;           /* AQUI é a mágica: gruda no fundo do card */
    font-size: 14px;
}

.button-plano.level-up{
    color: var(--card-background3);
    background-color: var(--lm-branco);
}

.button-plano:hover{
    background-color: #d48800;
    cursor: pointer;
}

.button-plano.level-up:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.button-plano:active {
    transform: scale(0.98);
    transition: transform 0.1s;
}

@media (max-width: 1075px) {
  .main-container{
    height: auto;              
    padding: 40px 24px;
  }

   .planos-list{
    flex-direction: column;    /* cards um embaixo do outro */
    align-items: center;
    gap: 1.5rem;
  }
}

