<!-- HEADER -->
<header #header class="header" id="header" [class.left-pd]="isSidebarOpen">
    <div class="header-container">
      <button (click)="toggleSidebar()" class="header-toggle" id="header-toggle">
        <img src="assets/icones/menu-icon.svg" alt="image" />
      </button>

      <div class="header-user">
        <div class="usuario">
          <img src="assets/imagens/user-photo.png" alt="User Photo" class="user-photo" />
          <div class="user-info">
            <h3 class="user-name">{{ nomeUsuario }}</h3>
            <span class="user-cargo">{{ permissaoUsuario }}</span>
          </div>
        </div>
        <button #dropdownToggle (click)="toggleDropdown()" class="dropdown-toggle" id="dropdown-toggle">
          <img src="assets/icones/seta-down-icon.svg" alt="Dropdown Icon" class="dropdown-icon" />
        </button>
        <div class="dropdown-menu" id="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }">
          <button routerLink="/usuario/meu-perfil" class="dropdown-item">Meu perfil</button>
          <button class="dropdown-item" (click)="logout()">Sair</button>
        </div>
      </div>
    </div>
  </header>

  <mat-drawer-container>
  <!-- SIDEBAR -->
  <mat-drawer #sidebar class="sidebar" id="sidebar" mode="side" opened [class.show-sidebar]="isSidebarOpen">
    <div class="sidebar-container">
      <div class="sidebar-logo">
        <div class="sidebar-img">
          <img src="assets/imagens/Logo-LM.svg" alt="image" />
        </div>

        <div class="sidebar-info">
            <img src="assets/imagens/name-logoLM.svg" alt="image" />
        </div>
      </div>

      <mat-nav-list class="sidebar-content">
        <div>
          <h3 class="sidebar-title">HOME</h3>

          <div class="sidebar-list">
            <a routerLink="/usuario/painel-principal" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/painel-principal')}">
              <img src="assets/icones/home-icon.svg" alt="home icon" />
              <span>InÍcio</span>
            </a>

            <a routerLink="/usuario/notificacoes" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/notificacoes')}">
              <img src="assets/icones/notificacao.svg" alt="home icon" />
              <span>Notificações</span>
            </a>
          </div>
        </div>

        <div *ngIf="permissaoUsuario === 'Administrador' || permissaoUsuario === 'Coordenador'">
          <h3 class="sidebar-title">ADMINISTRATIVO</h3>
          <div class="sidebar-list">
            <a routerLink="/usuario/colaboradores" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/colaboradores')}">
              <img src="assets/icones/People-icon.svg" alt="image" />
              <span>Colaboradores</span>
            </a>
            <a routerLink="/usuario/empresas" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/empresas')}">
              <img src="assets/icones/empresas-icon.svg" alt="home icon" />
              <span>Empresas</span>
            </a>
            <a routerLink="/usuario/perifericos" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/perifericos')}">
              <img src="assets/icones/empresas-icon.svg" alt="home icon" />
              <span>Periféricos</span>
            </a>
          </div>
        </div>        

        <div>
            <h3 class="sidebar-title">GERENCIAMENTO</h3>
  
            <div class="sidebar-list">
              <a routerLink="/usuario/processos" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/processos')}">
                <img src="assets/icones/processo-icon.svg" alt="home icon" />
                <span>Processos</span>
              </a>
  
              <a routerLink="/usuario/atividades" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/atividades')}">
                <img src="assets/icones/kanban-icon.svg" alt="home icon" />
                <span>Atividades</span>
              </a>

              <a routerLink="/usuario/chat" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/chat')}">
                <img src="assets/icones/chat.svg" alt="home icon" />
                <span>Chat de avisos</span>
              </a>

              <a routerLink="/usuario/forum-de-noticias" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/forum-de-noticias')}">
                <img src="assets/icones/forum.svg" alt="home icon" />
                <span>Fórum de notícias</span>
              </a>
            </div>
          </div>
      </mat-nav-list>
    </div>
  </mat-drawer>

<!-- MAIN CONTENT -->
  <mat-drawer-content #content class="drawer-content" [class.shifted]="isSidebarOpen">
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>