<!-- HEADER -->
<header #header class="header" id="header" [class.sidebar-open]="isSidebarOpen" [class.left-pd]="isSidebarOpen">
    <div class="header-container">
      <button (click)="toggleSidebar()" class="header-toggle" id="header-toggle">
        <img src="assets/icones/menu-icon.svg" alt="image" />
      </button>
      
      <div class="header-user">
        <div class="location-user" (click)="abrirModalSelecionarLocalizacao()">
          <h2 *ngIf="localizacaoUsuario">{{localizacaoUsuario.rua ?? ''}} - {{localizacaoUsuario.cidade}}/{{localizacaoUsuario.estado}}</h2>
          <h2 *ngIf="!localizacaoUsuario">Você não tem localização cadastrada!</h2>
          <img src="/assets/icones/localizacao-headersidebar-icon.svg" alt="location">
        </div>
        <div class="usuario">
          <img src="assets/imagens/user-photo.png" *ngIf="fotoUsuario; else fallbackPhoto" alt="User Photo" class="user-photo" />

          <ng-template #fallbackPhoto>
            <div
              class="user-initial"
              [style.background-color]="getRandomColor(nomeUsuario)"
            >
              {{ getInitial(nomeUsuario) }}
            </div>
          </ng-template>
          
          
          <div class="user-info">
            <h3 class="user-name">{{ nomeUsuario }}</h3>
            <span class="user-cargo">{{ permissaoUsuario }}</span>
          </div>
        </div>
        <button #dropdownToggle (click)="toggleDropdown()" class="dropdown-toggle" id="dropdown-toggle">
          <img src="assets/icones/seta-down-icon.svg" alt="Dropdown Icon" class="dropdown-icon" />
        </button>
        <div class="dropdown-menu" id="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }">
          <button [routerLink]="getRotaMeuPerfil()" class="dropdown-item">Minha Conta</button>
          <button routerLink="/usuario/minhas-comunidades" class="dropdown-item">Minhas Comunidades</button>
          <button class="dropdown-item" (click)="logout()">Sair</button>
        </div>
      </div>
    </div>
  </header>

  <mat-drawer-container>
  <!-- SIDEBAR -->
  <mat-drawer #sidebar class="sidebar" id="sidebar" mode="side" opened [class.show-sidebar]="isSidebarOpen">
    <div class="sidebar-container">
      <div class="sidebar-logo">
        <div class="sidebar-img">
          <img src="assets/imagens/Logo-LM.svg" alt="image" />
        </div>

        <div class="sidebar-info">
            <img src="assets/imagens/name-logoLM.svg" alt="image" />
        </div>
      </div>

      <mat-nav-list class="sidebar-content">
        <div>
          <h3 class="sidebar-title">Home</h3>

          <div class="sidebar-list">
            <a [routerLink]="rotaInicial()" class="sidebar-link" [ngClass]="{ 'active-link': isActive(rotaInicial()) }">
              <img src="assets/icones/home-icon.svg" alt="home icon" />
              <span>Início</span>
            </a>

            <a [routerLink]="rotaDashboard()" class="sidebar-link" [ngClass]="{ 'active-link': isActive(rotaDashboard()) }">
              <img src="assets/icones/dashboard-icon.svg" alt="home icon" />
              <span>Dashboard</span>
            </a>

            <a *ngIf="!isCliente()" routerLink="/usuario/meu-perfil-profissional" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/meu-perfil-profissional')}">
              <img src="assets/icones/meu-site-icon.svg" alt="home icon" />
              <span>Meu Site</span>
            </a>

            <a routerLink="/usuario/lista-de-notificacoes-cliente" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/lista-de-notificacoes-cliente')}">
              <img src="assets/icones/notificacao.svg" alt="home icon" />
              <span>Notificações</span>
            </a>
          </div>
        </div>
       

        <div>
            <h3 class="sidebar-title">Funcionalidades</h3>
  
            <div class="sidebar-list">
              <a routerLink="/usuario/servicos" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/servicos')}">
                <img src="assets/icones/servicos-icon.svg" alt="home icon" />
                <span>Serviços</span>
              </a>


              <a routerLink="/usuario/comunidades" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/comunidades')}">
                <img src="assets/icones/comunidade-icon.svg" alt="home icon" />
                <span>Comunidades</span>
              </a>

              <a routerLink="/usuario/localizacao" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/localizacao')}">
                <img src="assets/icones/localizacao-icon.svg" alt="home icon" />
                <span>Localização</span>
              </a>

              <a routerLink="/usuario/visualizacao-de-cupons" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/visualizacao-de-cupons')}">
                <img src="assets/icones/cupons-icon.svg" alt="home icon" />
                <span>Cupons</span>
              </a>

              <a routerLink="/usuario/lista-de-conversas-com-os-profissionais" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/lista-de-conversas-com-os-profissionais')}">
                <img src="assets/icones/conversas-icon.svg" alt="home icon" />
                <span>Conversas</span>
              </a>

              <a routerLink="/usuario/visualizacao-de-profissionais-favoritos" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/visualizacao-de-profissionais-favoritos')}">
                <img src="assets/icones/favoritos-icon.svg" alt="home icon" />
                <span>Favoritos</span>
              </a>

              <a *ngIf="!isCliente()" routerLink="/usuario/gameficacao" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/gameficacao')}">
                <img src="assets/icones/gamer-trampo.svg" alt="home icon" />
                <span>TrampoUp Score</span>
              </a>
            </div>
          </div>
      </mat-nav-list>
    </div>
  </mat-drawer>

  <mat-drawer-content #content class="drawer-content" [class.shifted]="isSidebarOpen">
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #templateConteudoModal>
  <div class="loading" *ngIf="isLoading;">
    <div class="spinner"></div>
    <p>Carregando suas localizações...</p>
  </div>
  <div *ngIf="!isLoading" class="modal-container">

    <div class="location-list" *ngIf="localizacoes.length > 0; else semLocalizacao">

      <div *ngFor="let localizacao of localizacoes">
        <button class="location-item"
        [class.selected]="isSelected(localizacao)"
        [disabled]="isSavingSelection"
        (click)="onSelectLocalizacao(localizacao)"
        role="option"
        [attr.aria-selected]="isSelected(localizacao)">

          <img [src]="isSelected(localizacao) ? 'assets/icones/localizacao-padrao.svg' : 'assets/icones/localizacao2-icon.svg'" alt="localizacao-icone">

          <div class="location-info">  
            <h3>
              {{localizacao.rua}}, {{localizacao.numero}}
            </h3>
            <p>{{localizacao.complemento}}, {{localizacao.bairro}}, {{localizacao.cidade}} - {{localizacao.estado}}</p>
          </div>

          <div class="check" *ngIf="isSelected(localizacao)" aria-hidden="true">✓</div>

        </button>

      </div>
    </div>

    <ng-template #semLocalizacao>
      <div class="no-data-message">
        <img src="assets/imagens/no-location-image.jpg" alt="Sem dados" />
        <p>Não há endereços cadastrados.</p>
      </div>
    </ng-template>

  </div>
</ng-template>