<section class="main-container">
    <div class="editar-titulo">
        <h1>
            <a [routerLink]="['/usuario/visualizacao-de-cupons']"><img src="/assets/icones/voltar-icon.svg"></a>
            Editar Cupom
        </h1>
    </div>


    <section class="inputs-editar">

        <div id="campo-titulo">
            <label for="titulo">Titulo</label>
            <input type="text" id="input-titulo" name="titulo" placeholder="Digite um titulo">
        </div>


        <section class="campos-tipo-valor">

            <div id="campo-tipo">
                <label for="tipo">Tipo</label>
                <select name="tipo" id="tipo">
                    <option value="">Selecione um tipo</option>
                    <option value="VALOR_FIXO">Valor Fixo</option>
                </select>
            </div>
    
            <div id="campo-valor">
                <label for="valor">Valor</label>
                <input type="text" id="input-valor" name="valor" placeholder="Digite um valor">
            </div>
        </section>

        <div id="campo-descricao">
            <label for="descricao">Descrição</label>
            <textarea name="descricao" id="input-descricao" placeholder="Digite uma breve descrição." rows="4"></textarea>
        </div>

        <section class="campos-data">
            <div id="campo-data-inicial">
                <label for="data-inicial">Data de inicio</label>
                <input type="date" id="input-data-inicial" name="data-inicial">
            </div>
    
            <div id="campo-data-termino">
                <label for="data-termino">Data de termino</label>
                <input type="date" id="input-data-termino" name="data-termino">
            </div>
        </section>
    </section>
    
    <button id="btn-atualizar-cupom" type="submit">Atualizar Cupom</button>
</section>